.wrapper {
  margin: 0 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.textBlock {
  display: inline-flex;
  margin-top: 60px;
  gap: 180px;
}

.pie {
  width: 400px;
}

.bar {
  width: 800px;
}

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #222;
  margin-bottom: 12px;
}