.select {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #222222;
  border-radius: 15px;
  width: 320px;
  height: 68px;
  background: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url('../../../../assets/Arrow down.svg');
  background-position: right 20px top 20px, 0 0;
  background-repeat: no-repeat, no-repeat;
  appearance: none;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #222;
}