.from {
  /* border: 1px solid #000; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 24px;
}

.qrBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.qr {
  display: block;
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  /* margin-top: 60px; */
}

.p {
  display: block;
  font-size: 32px;
  max-width: 100%;
  text-align: center;
}

.none {
  display: none;
}