.block {
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 10px;
  margin-bottom: 30px;
}

.titleThanks {
  font-weight: 600;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #222;
  margin-bottom: 12px;
}

.input {
  width: 300px;
  font-size: 20px;
  height: 30px;
  background-color: #F6f6f6;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left: 8px;
  height: 36px;
}

.textarea {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  height: 120px;
  font-size: 18px;
  background-color: #F6f6f6;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-left: 8px;
  padding-top: 5px;
  /* height: 36px; */
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  color: #222;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.button {
  /* width: 120px; */
  width: 100%;
  height: 36px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #4776dd;
  color: #fff;
}

.deleteButton {
  background-color: #f6f6f6;
  color: #4776dd;
  /* font-weight: 700; */
  border: 1px solid #4776dd;
}


.buttonsRate {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.buttonRate {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 18px;
  /* background-color: #86a6eb; */
  border: 1px solid #4776dd;
  color: #4776dd;
  border-radius: 24px;
  background-color: #F6f6f6;
  /* padding-top: -20px; */
  /* padding-top: -10px; */
}

.buttonRateActive {
  height: 40px;
  width: 40px;
  font-size: 18px;
  background-color: #4776dd;
  color: #fff;
  border-radius: 24px;
}

.rates {
  display: flex;
  gap: 20px;
}

.favorites {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputNone {
  display: none;
}

.checkbox {
  transform: scale(1.4);
}

.label {
  margin-left: 8px;
  font-size: 18px;
}