.block {
  margin-left: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.image {
  position: absolute;
  bottom: 0px;
  right: 140px;
  z-index: -1;
}

.inputNone {
  display: none;
}