.title {
  font-size: 100px;
  margin-top: 90px;
  margin-left: 250px;
  margin-bottom: 16px;
  font-weight: 800;
  color: #222222;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.description {
  margin-left: 250px;
  font-size: 25px;
  margin-bottom: 64px;
  font-weight: 300;
  color: #222222;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.image {
  position: absolute;
  top: 75px;
  right: 0;
  z-index: -1;
}